result
result-*

modules/darwin/files/glide/glide.d.ts
modules/darwin/files/glide/glide.work.ts
modules/darwin/files/glide/node_modules/

.envrc.local
.direnv/
.tmp-*/
.tmp-*

.DS_Store

*.swp
*.swo
*~
